<h1>About US</h1>
<p>
Hi ! I'm Guillaume, 22 years old and I'm glad to see you in my website.  <br/>
I hope that you will spend time on the site, for me it was a real pleasure to develop the site in Ruby on Rails, it was a very good experience. <br/>
You can visit my personal homepage and see my works by click <a href="http://occuly.me" target="_blank">here</a>.</p>